# Files to be ignored from version control
# We don't want to track Python cache
**/__pycache__/
# We probably don't want to track the database file itself.
app.db
app.db.back
# We certainly don't want to track log files
**/*.log
logs/**
# We don't want to track the extracted messages file generated with pybabel
**/*.pot
# We don't want to include the file where our API keys are declared
**/.env
